<div *ngIf="selectedResult">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let workoutoption of selectedResult ; let index = index;">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Name
        </mat-panel-title>
        <mat-panel-description>
          Id
        </mat-panel-description>
      </mat-expansion-panel-header>
        <table mat-table [dataSource]="selectedResult" [className]="'leftTable'">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> Loan Interest Rate </th>
            <td mat-cell *matCellDef="let workoutoption"> {{workoutoption?.preWorkoutData?.currentLoanInterestRate}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Loan Principle And Interest Payment Amount  </th>
            <td mat-cell *matCellDef="let workoutoption"> {{workoutoption?.preWorkoutData?.currentPrincipalAndInterestPaymentAmount}} </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef> Loan Gross UPB Amount </th>
            <td mat-cell *matCellDef="let workoutoption"> {{workoutoption?.preWorkoutData?.currentLoanGrossUPBAmount}} </td>
          </ng-container>
        
          <!-- Symbol Column -->
          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef> Loan Remaining Maturity </th>
            <td mat-cell *matCellDef="let workoutoption"> {{workoutoption?.preWorkoutData?.currentLoanRemainingMaturityTermMonthsCount}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div [className]="'padding'"></div>
        <table mat-table [dataSource]="selectedResult" [className]="'rightTable'">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> Loan Interest Rate </th>
            <td mat-cell *matCellDef="let workoutoption"> {{workoutoption?.postWorkoutData?.loanInterestRateAtModification}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Loan Principle And Interest Payment Amount </th>
            <td mat-cell *matCellDef="let workoutoption"> {{workoutoption?.postWorkoutData?.loanPrincipleAndInterestPaymentAmountAtModification}} </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef> Loan Gross UPB Amount </th>
            <td mat-cell *matCellDef="let workoutoption"> {{workoutoption?.postWorkoutData?.loanGrossUPBAmountAtModification}} </td>
          </ng-container>
        
          <!-- Symbol Column -->
          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef> Loan Remaining Maturity </th>
            <td mat-cell *matCellDef="let workoutoption"> {{workoutoption?.postWorkoutData?.loanModificationMaturityTermCount}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </mat-expansion-panel>
  </mat-accordion>
  
  <mat-paginator [length]="length"
                [pageSize]="pageSize"
                [pageSizeOptions]="[5, 10, 25, 100]"
                aria-label="Select page"
                (page)="pageEvent = getData($event) || workoutoptions">
  </mat-paginator>
</div>
