<div *ngIf="selectedResult">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let workoutoption of selectedResult ; let index = index;">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ workoutoption.name }}
        </mat-panel-title>
        <mat-panel-description>
          {{ workoutoption }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      {{ workoutoption.id }}
    </mat-expansion-panel>
  </mat-accordion>
  
  <mat-paginator [length]="length"
                [pageSize]="pageSize"
                [pageSizeOptions]="[5, 10, 25, 100]"
                aria-label="Select page"
                (page)="pageEvent = getData($event) || workoutoptions">
  </mat-paginator>
</div>
