.mat-form-field + .mat-form-field {
  margin-left: 8px;
}
img {
  height: inherit;
  margin-right: 10px;
}

h1 {
  margin-left: 20px;
  margin-top: 20px;
  font: inherit;
  font-size: 25px;
  font-weight: bold;
}

.leftTable {
  width: 100%;
}
.rightTable {
  width: 100%;
}
.mat-paginator {
  background-color: #607D8B;
}
.mat-table {
  width: 100%;
}
.mat-expansion-panel-header {
  width: 100%;
}
.filter-toolbar {
  padding-top: 20px;
  font-size: 12px;
}