<div *ngIf="selectedResult">
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
  </mat-toolbar>

  <mat-accordion>
    <mat-expansion-panel *ngFor="let workoutoption of selectedResult ; let index = index;">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ workoutoption.name }}
        </mat-panel-title>
        <mat-panel-description>
          {{ workoutoption }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      {{ workoutoption.id }}
    </mat-expansion-panel>
  </mat-accordion>
  
  <mat-paginator [length]="length"
                [pageSize]="pageSize"
                [pageSizeOptions]="[5, 10, 25, 100]"
                aria-label="Select page"
                (page)="pageEvent = getData($event) || workoutoptions">
  </mat-paginator>
</div>
