.mat-form-field + .mat-form-field {
  margin-left: 8px;
}
.leftTable {
  width: 100%;
}
.rightTable {
  width: 100%;
}
.mat-paginator {
  background-color: #607D8B;
}
.mat-table {
  width: 100%;
}
.mat-expansion-panel-header {
  width: 100%;
}